:root {
    --border-color: #aa968a;
    --background-color: #d4d2d5;
    --background-color-li:#ffffff;
    --background-color-over: #98939b;
    --text-color: #6e6a6f;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

.draggableList {
    border: 0.15rem solid var(--border-color);
    color: var(--text-color);
    padding: 0;
    list-style-type: none;
}



.draggableList li {
    background-color: var(--background-color-li);
    display: flex;
    flex: 1;
}

.draggableList li:not(:last-of-type) {
    border-bottom: 0.15rem solid var(--border-color);
}

.draggableList .number {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
}

.draggableList .itemName {
    margin: 0 ;
}

.draggable {
    cursor:pointer ;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    height: 3rem;
    flex: 1;
}

/* .draggable > p{
    pointer-events:none;
} */

.draggableList li.over .draggable {
    background-color: var(--background-color-over);
}